<script type="text/ng-template" id="address_form.html">
    <div class="col-md-12 form-group">
        <label class="nl-label-title" for="address_country_{[id]}">{{ 'nilead.country' | trans }}</label>
        <select id="address_country_{[id]}"
               data-ng-model="address.countryCode"
               data-ng-disabled="nlDisabled"></select>
    </div>

    <div class="col-md-12 form-group">
        <label class="nl-label-title" for="address_province_{[id]}">{{ 'nilead.province' | trans }}</label>
        <select id="address_province_{[id]}"
               data-ng-model="address.provinceCode"
               data-ng-disabled="nlDisabled"></select>
    </div>
    <div class="col-md-12 form-group">
        <label class="nl-label-title" for="address_district_{[id]}">{{ 'nilead.district' | trans }}</label>
        <select id="address_district_{[id]}"
               data-ng-model="address.districtCode"
               data-ng-disabled="nlDisabled"></select>
    </div>
    <div class="col-md-12 form-group">
        <label class="nl-label-title" for="address_ward_{[id]}">{{ 'nilead.ward' | trans }}</label>
        <select id="address_ward_{[id]}"
               data-ng-model="address.wardCode"
               data-ng-disabled="nlDisabled"></select>
    </div>
</script>
