<div class="container nl-content">

    {% for type in ['success', 'error'] %}
        {% for message in app.session.flashbag.get(type) %}
            <div class="alert alert-{% if type == 'success' %}success{% else %}danger{% endif %} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ type }}!</strong> {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row">
        <div class="col-sm-9">
            <h3 class="text-capitalize">{{ 'nilead.reset_password'|trans }}</h3>
            <hr>

            <form action="{{ path('nilead.account.frontend.account.resetting.reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form-horizontal">
                <div class="form-group">
                    {{ form_label(form.plainPassword.first,'', {'label_attr' : {'class' : 'col-sm-3 control-label text-capitalize' }}) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.first,'', {'label_attr' : {'class' : 'col-sm-3 control-label text-capitalize' }}) }}
                    <div class="col-sm-6">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_rest(form) }}
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <input type="submit" value="{{ 'nilead.submit' | trans }}" class="btn btn-primary text-capitalize"/>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
