<form action="{{ path('nilead.account.frontend.account.register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'nilead.submit' | trans }}" />
    </div>
</form>
